<style>
        .container {
            background-color: #f8f9fa; /* Set your desired background color here */
            height: 70vh;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .form-group.password-group {
            margin-bottom: 1rem;
        }

        .btn-center {
            display: flex;
            justify-content: center;
        }
</style>

{% extends 'index.html' %}

{% block content %}
 <div class="container">
        <div class="card" style="width: 25rem;">
            <div class="card-body">
                <h2 class="card-title">Sign In</h2>
                {% if error_message %}
                    <div class="alert alert-danger" role="alert">
                        {{ error_message }}
                    </div>
                {% endif %}
                <form action="{{ url_for('signin') }}" method="post">
                    <div class="form-group">
                        <label for="email">Email:</label>
                        <input type="email" class="form-control" name="email">
                    </div>

                    <div class="form-group password-group">
                        <label for="password">Password:</label>
                        <input type="password" class="form-control" name="password">
                    </div>
                    <div class="btn-center">
                        <button type="submit" class="btn btn-primary">Sign In</button>
                    </div>
                </form>
{#                 {% if reset_password_token %}#}
{#                    <form action="{{ url_for('reset_password', token=reset_password_token) }}" method="post">#}
{#                        <a href="{{ url_for('reset_password', token=reset_password_token) }}">Forgot Password? Click here</a>#}
{#                    </form>#}
{#                {% endif %}#}

            </div>
        </div>
    </div>

 {% endblock %}